{% extends 'base.html' %}

{% block head %}
	<title>Server Monitoring</title>
{% endblock %}

{% block body %}

{% if outages|length < 1 %}
{% else %}
	{% include 'outages.html' %}
{% endif %}

{% if alerts|length < 1 %}
{% else %}
	{% include 'alerts.html' %}
{% endif %}

<div id="invisible-container" class="container-fluid">
</div>

<div id="basic-bg-container" class="container-lg text-white">
	<h3>All Logs For {{ host }}</h3>

<div class="table-responsive-lg">

	<table class="table table-hover table-bordered table-dark">
		<tr>
			<th>Server</th>
			<th>SSH Status</th>
			<th>Uptime</th>
			<th>Misc Service Status</th>
			<th>%Mem Used</th>
			<th>Avg Temp</th>
			<th>Date/Time</th>
		</tr>

		{% for entry in entries %}
		<tr>
			<td><a style="color:red" href="/all_logs/{{ entry.host }}">{{ entry.host }}</a></td>
			<td>{{ entry.ssh_status }}</td>
			<td>{{ entry.uptime }}</td>
			<td>{{ entry.misc_status }}</td>
			<td>{{ entry.mem_used }}%</td>
			<td>{{ entry.avg_temp }}&#8451;</td>
			<td>{{ entry.date_created }}</td>
		</tr>
		{% endfor %}
	</table>
	</div>

</div>
	
</div>

{% endblock %}

