<div id="invisible-container" class="container-fluid">
</div>

<div id="basic-bg-container" class="container-lg text-white">
	<h3>Recent Outages!</h3>

<div class="table-responsive-lg">

	<table class="table table-hover table-bordered table-dark">

		<tr>
			<th>Server</th>
			<th>Clear Outage</th>
			<th>Last Timestamp Logged Before Outage</th>
		</tr>

	{% for outage in outages %}
		<tr>
			<td class="bg-warning"><a style="color:red" href="/all_logs/{{ outage.host }}">{{ outage.host }}</a></td>
			<td class="bg-warning"><a style="color:red" href="/clear_outage/{{ outage.id }}">Clear Outage #{{ outage.id }}</a></td>
			<td class="bg-warning" style="color:red">{{ outage.last_logged }}</td>
		</tr>
	{% endfor %}

	</table>

</div>

</div>
